# Documentation files


# Hidden Foldern
.tracecompass/
.vscode/
.svn/

# General Project Folder
ACModel/
bin/
config/
Debug/
DepFiles/
ObjFiles/
tools/

# Hidden Files
.cproject
.project

# Tests and Results
**/feature
**/feature.out
**/Junk/
**/*.acc
**/*.acp
