# Hidden Foldern
.vscode/

# General Project Folder
bin/


# Tests and Results
**/feature
**/feature.out
**/Junk/
**/*.acc
**/*.acp
**/parser.conf
**/a.out
tests/std*.txt
tests/ErrorCodeConverter/temp_file_for_badf.txt
tests/ErrorCodeConverter/temp_file_for_eexist.txt
